- content_for :title do
  InnovaCert
- content_for :description do
  The premier certification and evaluation platform for Chile's mining industry.
%section
  = image_tag 'http://www.ccminero.cl/ccm/site/artic/20130408/imag/foto_0000001020130408100034.jpg'
%section
  .column-centered.col-md-offset-3
    %h2= yield :title
    %p= yield :description
