// import the CSS framework
@import "flatly";
// import form styling
@import "rails_bootstrap_forms";

// set color variables in sass, pulled from flatly.css
$color-red: #E74C3C;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// Tweaks for bootstrap_form builder
// Give labels some breathing space to the right before input field
.control-label {
  margin-right: 1em;
}

.form-question {
  border: 1px dotted;
  border-radius: 0.5em;
  border-color: #aaaaaa;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  padding: 1em;
}
.form-section {
  @extend .form-question;
  border: 1px solid;
  border-radius: 1em;
  border-color: #999999;
  box-shadow: 0.25em 0.25em 0.25em #555555;

  a {
    display: block;
    text-align: center;
  }
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
}
.column-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-9;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
.button {
  @extend .btn;
  @extend .btn-default;
  margin: 1em;
  float: left;
}
.alert {
  margin-top: 10px; // add small gap between alerts and navbar
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ddd;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 60px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
