// import the CSS framework
@import "flatly";

// set color variables in sass, pulled from flatly.css
$color-red: #E74C3C;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// Tweaks for bootstrap_form builder
// Give labels some breathing space to the right before input field
.control-label {
  margin-right: 1em;
}
// adjust appearance of dynamically nested fields.
.nested-fields {
// allow absolute positioning inside field divs
  .field {
    position: relative;
    padding-bottom: 1em;
  }
  // leave space for remove field X
  .form-group {
    width: 90%;
    margin-left: 2em;
  }
  // put remove field X to the right of the field
  .remove_fields {
    position: absolute;
    top: -0.3em;
    font-size: 1.5em;
    color: $color-red;
    &:hover {
      color: $color-red;
    }
  }
  // move question list to be indented
  .questions {
    margin-left: 3em;

    a {
      margin-left: 1.3em;
    }
  }
}
.add_fields {
  display: block;
  text-align: center;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6
}
.column-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-9;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
.button {
  @extend .btn;
  @extend .btn-default;
  margin: 1em;
  float: left;
}
.alert {
  margin-top: 10px; // add small gap between alerts and navbar
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ddd;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 60px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
