.form-section
  = f.text_area :name, label: 'Section Name' # TODO change to show section number
  = f.check_box :_destroy, label: 'Remove Question'
  = f.fields_for :interview_questions do |question_f|
    = render 'interview_question_fields', f: question_f
