.nested-fields
  .field
    = link_to_remove_association "X", f
    = f.text_field :name, label: 'Section name:'
    = render partial: 'observation_questions_view', locals: {observation_section: f.object}
