%h3 Create a new Instrument

%section
%p Select UCL for this instrument:
%br
  = simple_form_for @instrument, html: {class: 'form-horizontal'} do |f|
    = f.input :name
    = f.input :key_activities
    = f.button :submit
