%h3 Create a new Instrument

%section
.form
  = bootstrap_form_for @instrument do |f|
    = f.select :ucl_id, options_for_select(Ucl.options_for_select), label: 'Select UCL for this instrument'
    = f.text_field :name, label: 'Instrument name'
    = f.submit
