-# add navigation links to this file
%li= link_to 'Create Instrument', new_instrument_path
%li= link_to 'UCLs', ucls_path
%li= link_to 'Workers', workers_path
%li= link_to 'About', page_path('about')
